p {
    font-family: "Times New Roman", serif;
    font-size: 20px;
}

h1 {
    font-size: 70px;
    text-align: center;
    font-family: "Helvetica", sans-serif; 
}

h6 {
    font-size: 15px;
     font-family: "Helvetica", sans-serif;
}

blockquote {
    font-size: 25px;
    font-family: "Times New Roman", serif;
}

h2 {
    font: grey;
    font-size: 30px;
    font-family: "Helvetica", sans-serif;
}
